.contactpage {
  height: 100vh;
  overflow-y: auto;
  background-color: #121212;
  scrollbar-width: thin;
  scrollbar-color: #ff7700 #2c2c2c; /* Thumb color | Track color */
}

/* Webkit (Chrome, Edge, Safari) Scrollbar */
.contactpage::-webkit-scrollbar {
  width: 8px;
}

.contactpage::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 5px;
}

.contactpage::-webkit-scrollbar-thumb {
  background-color: #ff7700;
  border-radius: 5px;
  border: 2px solid #2c2c2c;
}

.contactpage::-webkit-scrollbar-thumb:hover {
  background-color: #ff7700; /* Keeping it strong orange even on hover */
}
